<nav id="nav">
  <a class="nav-logo" href="{{ shop.url }}">{{ shop.name | default: 'MODERA' }}</a>
  <div class="nav-right">
    <span class="nav-tag">모두의 새로운 시대</span>
    <a class="nav-cta" href="#notify">First Edition</a>
  </div>
</nav>