<section class="social-section">
  <div class="section-label">Connect</div>
  <div class="social-links">
    <a class="social-link" href="https://instagram.com/modera.nysl" target="_blank" rel="noopener">Instagram</a>
    <a class="social-link" href="https://www.tiktok.com/@modera.nysl" target="_blank" rel="noopener">TikTok</a>
  </div>
</section>
